@page "/"

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Page</th>
                <th scope="col">IP</th>
                <th scope="col">Visited</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var visit in PageVisits)
            {
                <tr>
                    <td scope="row">@visit.Item1</td>
                    <td>@visit.Item2</td>
                    <td>@visit.Item3</td>
                </tr>
            }
        </tbody>
    </table>
</div>