@page "/LostCSS"

<h3>Gemini 4</h3>

<img src="./ed_white_feature.jpg" alt="Picture of Edward H. White II in a space suit outside the spacecraft." />

<p>On June 3, 1965, Edward H. White II became the first American to step outside his spacecraft and let go, effectively setting himself adrift in the zero gravity of space. For 23 minutes White floated and maneuvered himself around the Gemini spacecraft while logging 6,500 miles during his orbital stroll. White was attached to the spacecraft by a 25 foot umbilical line and a 23 foot tether line, both wrapped in gold tape to form one cord. In his right hand, White carries a Hand Held Self Maneuvering Unit, which is used to move about the weightless environment of space. The visor of his helmet is gold plated to protect him from the unfiltered rays of the sun. <span>Image Credit: <strong>NASA</strong></span></p>

<p>White was selected to be the pilot of Gemini 4, with McDivitt as his command pilot. The Chief of the Astronaut Office, Mercury Seven astronaut Deke Slayton, paired them because they knew each other well, having attended the University of Michigan and test pilot school together. The mission objectives were ill-defined at first, but consideration was given to performing extravehicular activity (EVA), space rendezvous and orbital station-keeping.</p>

<p>Knowing that EVA (or spacewalk) was a possibility, McDivitt pressed for it to be included in the mission. As a result, NASA management agreed to ensure that the Gemini space suit for the mission was capable of being used for EVA. Kenneth S. Kleinknecht told the July 1964 press conference that announced the mission that one of the crew might open the hatch and stick his head outside, but this attracted little attention. On March 18, 1965, cosmonaut Alexei Leonov became the first man to perform an EVA, on the Voskhod 2 mission, but not until May 25 was EVA approved for Gemini 4 by NASA administrator James E. Webb.</p>

<p>White was a devout Methodist. On the Gemini 4 mission he carried three pieces of religious jewelry to take with him on his EVA: a gold cross, a St. Christopher Medal and a Star of David. White commented: "I felt while I couldn't take one for every religion in the country, I could take the items most familiar to me."</p>

<p>On June 3, 1965, the Gemini 4 crew was launched into space to begin its four-day mission. After separation from the Titan II upper stage, McDivitt attempted to rendezvous with the booster. However, this was unsuccessful since the astronauts were not adequately trained to rendezvous in orbit. The objective had to be abandoned since the allocated propellant had been used up, and the maneuvers had pushed the spacecraft's orbit too far away from Earth. The mission also included 11 different scientific experiments, including the use of a sextant for celestial navigation.</p>

<p>After the failed rendezvous attempt, White appeared tired and hot, so the EVA was postponed from the second revolution to the third revolution. At 19:46 UTC, White became the first American to make an EVA. During his spacewalk, White used an oxygen-propelled gun called the Hand-Held Maneuvering Unit to propel himself. White found the experience so exhilarating that he was reluctant to terminate the EVA at the allotted time, and had to be ordered back into the spacecraft.</p>

<p>While White was outside, a spare thermal glove floated away through the open hatch of the spacecraft, becoming an early piece of space debris in low Earth orbit, until it burned up upon re-entry into the Earth's atmosphere. There was a mechanical problem with the hatch mechanism, which made it difficult to open and to relatch. McDivitt was able to get the door locked by using his glove to push on the gears that controlled the mechanism. This added to the time constraint of the spacewalk and could have threatened the lives of both men if McDivitt had been unable to get the hatch latched, as they could not re-enter the atmosphere with an unsealed hatch.</p>

<blockquote>
    <p>I'm coming back in... and it's the saddest moment of my life.</p>
    <p>— Astronaut Edward H. White while reentering the spacecraft after his EVA</p>
</blockquote>

<p>When they returned to Earth, the two astronauts found that they were now celebrities. President Lyndon B. Johnson came to Houston to congratulate them, and he promoted them to the rank of lieutenant colonel. Later that week they traveled to the White House where Johnson presented them the NASA Exceptional Service Medal. They were given a ticker tape parade in Chicago, and went to the 1965 Paris Air Show, where they met cosmonaut Yuri Gagarin.</p>

<p>White's next assignment after Gemini 4 was as the backup for Gemini 7 command pilot Frank Borman, with Michael Collins assigned as his pilot. He was also named the astronaut specialist for the flight control systems of the Apollo command module. Under the usual procedure of crew rotation in the Gemini program, White would have been in line for a second flight as the command pilot of Gemini 10 in July 1966, which would have made him the first of his group to fly twice. Instead, he was selected for the Apollo 1 spaceflight.</p>


<style>
    h3 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bolder;
    }

    img {
        border-radius: 20px;
        box-shadow: -5px 5px 20px 0;
    }

    p {
        font-weight: 500;
    }

    blockquote {
        border-top: 4px solid;
        border-bottom: 4px solid;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    blockquote p {
        margin-bottom: 0px;
    }

    @@media (min-width: 440px) {
        img {
            width: 35vw;
            float: right;
            margin-bottom: 32px;
            margin-left: 32px;
        }

        blockquote p {
            font-size: .9rem;
        }
    }

    @@media (max-width: 440px) {
        p {
            font-size: 1.1rem;
        }
        img {
            width: 100%;
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }

</style>