<div class="alert @NotificationClass notification" role="alert" hidden="@IsHidden">
    <strong>@Heading</strong>
    <p>@Message</p>
</div>

<style>
    .notification {
        position: fixed;
        width: 30rem;
        border-radius: 16px;
        bottom: 10px;
        right: 10px;
    }
</style>